<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
<script th:src="@{/jquery/jquery-3.2.1.min.js}" type="text/javascript"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"
	type="text/javascript"></script>
<title>Hello SBTL</title>
</head>
<body>
	<script>
		$(function() {

			$("#submit").click(function(){
				$("#userInfo").submit();
			});
			
			$("#userName").blur(function(){
				var text =$.trim($("#userName").val());
				if(text === ''){
					$("#uName").addClass("has-error");
					$("#uName").removeClass("has-success");
				}else{
					$("#uName").addClass("has-success");
					$("#uName").removeClass("has-error");
				}
			});
			
		});
		function emptyCheck(obj){
			var text =$.trim($(obj).val());
			if(text === ''){
				$(obj).addClass("has-error");
			}else{
				$(obj).addClass("has-success");
			}
		};
	</script>
	<div class="container">
		<h2 class="bg-primary">Peolpe Manage</h2>
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th>id</th>
					<th>name</th>
					<th>age</th>
					<th>option</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="users : ${users}">
					<td th:text="${users.uId}"></td>
					<td th:text="${users.uName}"></td>
					<td th:text="${users.uIntroduce}"></td>
					<td><a href="#">Edit</a></td>
				</tr>
			</tbody>
			<tfoot>
			</tfoot>
		</table>
		<div class="row">
			<div class="col-lg-offset-9">
				<button id="add" type="button" data-toggle="modal" data-target="#myModal" class="btn btn-default">Add</button>
			</div>
		</div>
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">人员添加</h4>
					</div>
					<div class="modal-body">
						<form id="userInfo" action="#" th:action="@{addUser}" th:object="${user}"
									method="post">
									<div id="uName" class="form-group">
											<label for="userName">name</label>
											<input id="userName" class="form-control" type="text" th:field="*{uName}" onblur="return emptyCheck(this)" />
									</div>
									<div class="form-group">
											<label for="userIntroduce">introduce</label>
											<input id="userIntroduce" class="form-control" type="text" th:field="*{uIntroduce}" />
									</div>
								</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button id="submit" type="button" class="btn btn-primary">Submit</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
	</div>
</body>
</html>