<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
<script th:src="@{/jquery/jquery-3.2.1.min.js}" type="text/javascript"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"
	type="text/javascript"></script>
<title>People Manage</title>
</head>
<body>
	<script>
		$(function() {
			var flag = false;
			$("#submit").click(function() {
				$("#userInfo").submit();
			});
			$("#deleteSubmit").click(function() {
				$("#userInfo").attr("action",'deleteUser');
				$("#userInfo").submit();
			});

			$("#userName").blur(function() {
				var text = $.trim($("#userName").val());
				if (text === '') {
					$("#uName").addClass("has-error");
					$("#uName").removeClass("has-success");
				} else {
					$("#uName").addClass("has-success");
					$("#uName").removeClass("has-error");
				}
			});

			/* $('#myModal').on('show.bs.modal', function(event) {
				var button = $(event.relatedTarget) // 触发事件的按钮  
				var recipient = button.data('whatever') // 解析出whatever内容  
				alert(recipient);
				var modal = $(this) //获得模态框本身
				modal.find('.modal-title').text('Message To ' + recipient)
			}) */

		});
		function emptyCheck(obj) {
			var text = $.trim($(obj).val());
			if (text === '') {
				$(obj).addClass("has-error");
			} else {
				$(obj).addClass("has-success");
			}
		};
		function updateUser(obj, flag) {
			var uId = $(obj).attr("selectedIndex");
			$.ajax({
				type : "GET",
				url : "/demo/getUser?uId="+uId,
				success : function(event) {
					console.log(event);
					$("#userId").prop("value", event.uId);
					$("#userName").prop("value", event.uName);
					$("#userIntroduce").prop("value", event.uIntroduce);
					$("#createDate").prop("value", event.createDate);
					$("#updateDate").prop("value", event.updateDate);
					if(flag == 'up'){
						updateStyle();
					}else{
						$("#userId").prop("readOnly", true);
						$("#userName").prop("readOnly", true);
						$("#userIntroduce").prop("readOnly", true);
						$("#update").css("display", "none");
						$("#delete").css("display", "block");
					}
					$("#myModal").modal("show");
				},
				dataType : "JSON"
			});
		};
		function addUser() {
			$("#userId").prop("value", null);
			$("#userName").prop("value", null);
			$("#userIntroduce").prop("value", null);
			$("#createDate").prop("value", null);
			$("#updateDate").prop("value", null);
			updateStyle();
			$("#myModal").modal("show");
		};
		function updateStyle(){
			$("#userId").prop("readOnly", false);
			$("#userName").prop("readOnly", false);
			$("#userIntroduce").prop("readOnly", false);
			$("#update").css("display", "block");
			$("#delete").css("display", "none");
		}
		function pageShow(flag){
			var currentPage = $("#currentPage").html();
			currentPage =  parseInt(currentPage);
			if(flag == 'pre'){
				currentPage = currentPage -1;
			}else if(flag == 'next'){
				currentPage = currentPage +1;
			}
			window.location.href="/demo/showPage/"+currentPage;
			
		}
	</script>
	<div class="container">
		<h1 class="bg-primary">People Manage</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>id</th>
					<th>name</th>
					<th>introduce</th>
					<th>option</th>
				</tr>
			</thead>
			<tbody id="showInfo">
				<tr th:each="user,userStat : ${users}">
					<td th:text="${userStat.index+1}"></td>
					<td th:text="${user.uName}"></td>
					<td th:text="${user.uIntroduce}"></td>
					<td><button onclick="updateUser(this, 'up');" class="btn btn-link" th:attr="selectedIndex=${user.uId}">Edit</button>
					<button onclick="updateUser(this, 'del');" class="btn btn-link" th:attr="selectedIndex=${user.uId}">Delete</button></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="2"><label>当前</label><span id="currentPage" th:text="${currentPage}">0</span><label>页</label>
					<label>总共</label><span th:text="${pageTotal}">0</span><label>页</label></td>
					<td colspan="2" align="right"><button id="prepage" onclick="pageShow('pre')" type="button" class="btn btn-link" >上一页</button>
					<button id="nextpage" onclick="pageShow('next')" type="button" class="btn btn-link" >下一页</button>
					
					</td>
				</tr>
			</tfoot>
		</table>
		<div class="row">
			<div class="col-lg-offset-11">
				<button id="add" onclick="addUser();" type="button" class="btn btn-default" >Add</button>
			</div>
		</div>
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">People Manage</h4>
					</div>
					<div class="modal-body">
						<form id="userInfo" action="#" th:action="@{/demo/addUser}"
							th:object="${user}" method="post">
							<input id="userId" class="form-control" type="hidden"
								th:field="*{uId}" th:value="*{uId}" />
								<input  class="form-control" type="hidden"
								th:field="*{updateDate}" />
								<input  class="form-control" type="hidden"
								th:field="*{createDate}"/>
							<div id="uName" class="form-group">
								<label for="userName">name</label> <input id="userName"
									class="form-control" type="text" th:field="*{uName}"
									 onblur="return emptyCheck(this)" />
							</div>
							<div class="form-group">
								<label for="userIntroduce">introduce</label> <input
									id="userIntroduce" class="form-control" type="text"
									th:field="*{uIntroduce}" />
							</div>
						</form>
						<span th:text="${user.uName}"></span>
					</div>
					<div id="update" class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button id="submit" type="button" class="btn btn-primary">Submit</button>
					</div>
					<div id="delete" style="display:none;" class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button id="deleteSubmit" type="button" class="btn btn-primary">delete</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
	</div>
</body>
</html>